 {{> head }}

{{> navbar }}

   <div class="row">

       <div class="col-8">
        <h1>Gato gordo</h1>
        <p>
            El gato gordo que está en el sillon haciendo nada jaja xD.
        </p>
       </div>

       <div class="col-4">
           <img src="assets/img/gatooo.png" class="img-thumbnail">
       </div>
   </div>
{{> footer }}
    